@charset "UTF-8";

/* Typical Devices breakpoint (27/05/2024):
Mobile devices: 320px - 480px
iPads, Tablets: 481px - 768px
Laptops: 769px - 1024px
Desktop, large screens: 1025px - 1200px
Extra large screens, Tv: 1201px, and more */

@media screen and (min-width: 768px) and (max-width: 992px) {
    body {
        background-image: linear-gradient(to top, #49a09d, #5f2c82);
    }
    section#login {
        width: 80vw;
    }
    section#login > div#imagem {
        float: left;
        width: 30%;
        height: 100%;
    }
    section#login > div#formulario {
        float: right;
        width: 70%;
    } 
}
@media screen and (min-width: 992px) {
    body {
        background-image: linear-gradient(to top, #49a09d, #5f2c82);
    }
    section#login {
        width: 950px;
    }
    section#login > div#imagem {
        float: left;
        width: 50%;
        height: 100%;
    }
    section#login > div#formulario {
        float: right;
        width: 50%;
    }
}